<div class="container section-title aos-init aos-animate" data-aos="fade-up">
        {% include "@atoms/Header/Header.twig" with {
             text: header_text,
             classname: 'header_class'
        }%}
        {% include "@atoms/Paragraph/Paragraph.twig" with {
             paragraphtext: para_text,
             classname: 'para_class'
        }%}

      </div>