
<div class="parent">


<div class="parent_banner">
   
       {% include "@atoms/Title/ti.twig" %}
       
         {% include "@atoms/Mybutton/bt.twig" %}   
</div>

    <div class="parent_img">

          {% include "@atoms/Himage/im.twig" %}

         </div>


</div>

