.gallery1 {
    .slick-slide {
      margin: 0 1px; // Add some space between slides
    }
  
    img {
      width: 70%; // Adjust as needed
      height: 530px; // Maintain aspect ratio
      
    }
}
