
{# 1 #}
       <div class=" d-flex col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                  <div><i class="bx bx-receipt"></i></div>
                  <div>
                  {% include "@atoms/Mheading/m.twig" with {
                        text:heading_text,
                        classname: 'heading'
                   }%}

                  {% include "@atoms/Aparagraph/p.twig" with {
                    paragraphText:para_text,
                    classname: 'para'
                  }%}
                  </div>
                   
                </div>

                {# 2 #}

                <div class=" d-flex col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                  <div><i class="bx bx-cube-alt"></i></div>
                  <div>
                  {% include "@atoms/Mheading/m.twig" with {
                        text:head_text2,
                        classname: 'heading'
                   }%}

                  {% include "@atoms/Aparagraph/p.twig" with {
                    paragraphText:para_text2,
                    classname: 'para'
                  }%}
                  </div>
                   
                </div>

                    {# 3 #}
                  <div class=" d-flex col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                  <div><i class="bx bx-image"></i></div>
                  <div>
                  {% include "@atoms/Mheading/m.twig" with {
                        text:head_text3,
                        classname: 'heading'
                   }%}

                  {% include "@atoms/Aparagraph/p.twig" with {
                    paragraphText:para_text3,
                    classname: 'para'
                  }%}
                  </div>
                   
                </div>

                    {# 4 #}
                   <div class=" d-flex col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                  <div><i class="bx bx-shield"></i></div>
                  <div>
                  {% include "@atoms/Mheading/m.twig" with {
                        text:head_text4,
                        classname: 'heading'
                   }%}

                  {% include "@atoms/Aparagraph/p.twig" with {
                    paragraphText:para_text4,
                    classname: 'para'
                  }%}
                  </div>
                   
                </div>
                        {# 5 #}
                   <div class=" d-flex col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                  <div><i class="bx bx-atom"></i></div>
                  <div>
                  {% include "@atoms/Mheading/m.twig" with {
                        text:head_text5,
                        classname: 'heading'
                   }%}

                  {% include "@atoms/Aparagraph/p.twig" with {
                    paragraphText:para_text5,
                    classname: 'para'
                  }%}
                  </div>
                   
                </div>
                    {# 6 #}
                 <div class=" d-flex col-md-6 icon-box aos-init aos-animate" data-aos="fade-up">
                  <div><i class="bx bx-id-card"></i></div>
                  <div>
                  {% include "@atoms/Mheading/m.twig" with {
                        text:head_text5,
                        classname: 'heading'
                   }%}

                  {% include "@atoms/Aparagraph/p.twig" with {
                    paragraphText:para_text5,
                    classname: 'para'
                  }%}
                  </div>
                   
                </div>

                



         

    