/* Image Styles */
.img-fluid {
    height: auto;
    width: 100%;
  }
  
  /* Header Styles */
  .header_class {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: #1e4356;
    font-weight: 550;
  }
  
  /* Paragraph Styles */
  .para_class {
    font-style: italic;
  }
  