<div class="col-lg-6 position-relative align-self-start aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
  {% include "@atoms/ImageWithAnchor/ImageWithAnchor.twig" with {
    image_src: molecule.image_src,
    image_alt: molecule.image_alt,
    image_class: molecule.image_class,
    video_url: molecule.video_url,
    video_class: molecule.video_class
  } %}
</div>

<div class="col-lg-6 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
  {% include "@atoms/Mheading/m.twig" with {
    text: text,
    classname: 'heading_class'
  } %}

  {% include "@atoms/Paragraph/Paragraph.twig" with {
    paragraphtext: para_text,
    para_class: 'para_class'
  } %}

  <ul>
    {% for item in list_items %}
      <li>
        <i class="{{ item.icon_class }}"></i>
        <span>{{ item.text }}</span>
      </li>
    {% endfor %}
  </ul>

  {% include "@atoms/Paragraph/Paragraph.twig" with {
    paragraphtext: para_text,
    para_class: 'para_class'
  } %}
</div>
