{# <div class="download">
  <a href="#" class="download_btn google-play"><i class="bx bxl-play-store"></i> Google Play</a>
  <a href="#" class="download_btn app-store"><i class="bx bxl-apple"></i> App Store</a>
</div> #}

<button class="{{ classname }}" type="{{ type }}">
  {{ label }}
</button>


