


  {% include "@molecules/Header2/h.twig" %}

 <div class="hello">
    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
     
   <div class = "row gx-10 gy-5 mt-2">
  
   {% include "@molecules/cmptwo/cm.twig" %}
 
   </div>
     
   </div>
   
           <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <img src="https://bootstrapmade.com/demo/templates/Moderna/assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
  
          
   </div>
   



         
   
   
   
   
 



  </div>
 

