.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;

    .logo {
        flex: 1;
    }

    .navbar {
        flex: 2;
    }
}
