
<div class="row content">
<div class="col-md-4 order-1 order-md-2 aos-init aos-animate" data-aos="fade-left">
            <img src="https://bootstrapmade.com/demo/templates/Appland/assets/img/details-4.png" class="img-fluid" alt="">
          </div>

                    {% include "@molecules/cmpsix/ci.twig" %}
          </div>