<section id="about" class="about section light-background">

      <div class="container">

        <div class="row gy-4">
         
          {% include "@molecules/ImageWithBtn/ImageWithBtn.twig" %}
        
          {% include "@molecules/HeadingParaList/HeadingParaList.twig" %}
            
         
              
        </div>

      </div>

    </section>