<div class="title">

<h1 class="title_text">App landing page <br>template</h1>

<p class="title_text_para">Lorem ipsum dolor sit amet, tota senserit percipitur ius ut, usu et <br> fastidii forensibus voluptatibus. His ei nihil feugait</p>

</div>
